<!DOCTYPE html>
<html>
<head>
    <title> Cảm ơn bạn {{CustomerName}} đã để lại Feedback</title>
    <meta charset="utf-8" />
</head>
<body>
    Thông tin FeedBack mới từ khách hàng: {{CustomerName}}<br />
    Điện thoại: {{Phone}} <br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}}<br />
    FeedBack: {{FeedBack}}<br />
    Cảm ơn bạn rất nhiều vì đã giúp chúng tôi trở thành thương hiệu số một trong lòng khách hàng. Chúng tôi không thể đạt được thành công này nếu không có bạn là khách hàng của chúng tôi. Sự hài lòng của bạn là mối quan tâm số một của chúng tôi và chúng tôi hứa sẽ luôn đáng tin cậy<br/>
</body>
</html>